<div class="taledex">
  <div class="create">
    <%= link_to 'Create a new tale!', new_tale_path %>
  </div>
  
  <h3>Your Tales</h3>
  <% @tales.each do |tale| %>
    <% if tale['owner_id'] == current_user.id  %>
      <%= link_to tale.title, tale_path(tale.id) %>
    <% end %>
  <% end %> 
  
  <h3>Tales You Can Edit</h3>
  <% if @contributions %> 
    <% @contributions.each do |tale| %>
      <% unless tale.owner_id == current_user.id %>
        <%= link_to tale['title'], tale_path(tale[:id]) %>
      <% end %>
    <% end %>
  <% end %> 
  
  <h3>Public Tales</h3>
  <% @tales.each do |tale| %>
    <% if tale['public_access'] %>
     <%= link_to tale['title'], tale_path(tale[:id]) %>
    <% end %>
  <% end %> 

</div>