<div class="about">
  <h2>About</h2>
  <p> Let's tell a tale is a way for users to collaboratively create a story either one word or one sentence at a time.  To create a story blah blah blah.... finish this l8er</p>
</div>